/* Main resource file for Kniffel */

#include <os2.h>
#include "kniffel.h"

/* Application icon and the five default player icons */
POINTER WID_MAIN kniffel.ico
POINTER 301 default1.ico
POINTER 302 default2.ico
POINTER 303 default3.ico
POINTER 304 default4.ico
POINTER 305 default5.ico

/* Dice */
BITMAP 100 WRFL.BMP
BITMAP 101 WRFL_1.BMP
BITMAP 102 WRFL_2.BMP
BITMAP 103 WRFL_3.BMP
BITMAP 104 WRFL_4.BMP
BITMAP 105 WRFL_5.BMP
BITMAP 106 WRFL_6.BMP
BITMAP 107 WRFL_H1.BMP
BITMAP 108 WRFL_H2.BMP
BITMAP 109 WRFL_H3.BMP
BITMAP 110 WRFL_H4.BMP
BITMAP 111 WRFL_H5.BMP
BITMAP 112 WRFL_H6.BMP

/* Row pictures */
BITMAP 201 EINS.BMP
BITMAP 202 ZWEI.BMP
BITMAP 203 DREI.BMP
BITMAP 204 VIER.BMP
BITMAP 205 FUENF.BMP
BITMAP 206 SECHS.BMP
BITMAP 207 DRILLING.BMP
BITMAP 208 VIERLING.BMP
BITMAP 209 FULLHOUS.BMP
BITMAP 210 KL_STR.BMP
BITMAP 211 GR_STR.BMP
BITMAP 212 KNIFFEL.BMP
BITMAP 213 CHANCE.BMP

/* Command pictures */
BITMAP 220 ABBRUCH.BMP
BITMAP 221 AENDERN.BMP
BITMAP 222 WUERFELN.BMP
BITMAP 223 WEITER.BMP
BITMAP 224 RUECKNAH.BMP
BITMAP 225 SIEGER.BMP

/* Main menu bar */
MENU WID_MAIN
BEGIN
 SUBMENU "~Game", IDM_SUBMENU_GAME
 BEGIN
  MENUITEM "~New Game\tCtrl+N", IDM_NEWGAME
  MENUITEM "~Quit Game\tCtrl+Q", IDM_QUIT
  MENUITEM SEPARATOR
  MENUITEM "~High Scores...\tCtrl+H", IDM_HITLIST
  MENUITEM SEPARATOR
  MENUITEM "E~xit\tCtrl+X", IDM_EXIT
 END
 SUBMENU "~Options", IDM_SUBMENU_OPTIONS
 BEGIN
  MENUITEM "~Picture Buttons\tCtrl+B", IDM_PICTURES
  MENUITEM SEPARATOR
  SUBMENU "~Language", IDM_SUBMENU_LANGUAGE
  BEGIN
   MENUITEM "English", IDM_LANG_EN
   MENUITEM "Espanol", IDM_LANG_ES
   MENUITEM "Nederlands", IDM_LANG_NL
   MENUITEM "Deutsch", IDM_LANG_DE
   MENUITEM "Francais", IDM_LANG_FR
   MENUITEM "Italiano", IDM_LANG_IT
  END
  MENUITEM SEPARATOR
  MENUITEM "~Frame Controls\tCtrl+F", IDM_FRAME
  MENUITEM SEPARATOR
  MENUITEM "~Save settings on exit", IDM_SAVEONEXIT
 END
 SUBMENU "~Help", IDM_SUBMENU_HELP
 BEGIN
  MENUITEM "~General Help", IDM_GENERALHELP
  MENUITEM "Help ~Index", IDM_HELPINDEX
  MENUITEM "~Help on Help", IDM_HELPONHELP
  MENUITEM SEPARATOR
  MENUITEM "~About...", IDM_ABOUT
 END
END

/* Accelerator table */
ACCELTABLE WID_MAIN
BEGIN
 "n", IDM_NEWGAME, CONTROL
 "N", IDM_NEWGAME, CONTROL
 "q", IDM_QUIT, CONTROL
 "Q", IDM_QUIT, CONTROL
 "x", IDM_EXIT, CONTROL
 "X", IDM_EXIT, CONTROL
 "h", IDM_HITLIST, CONTROL
 "H", IDM_HITLIST, CONTROL
 "b", IDM_PICTURES, CONTROL
 "B", IDM_PICTURES, CONTROL
 "f", IDM_FRAME, CONTROL
 "F", IDM_FRAME, CONTROL
END

/* About dialog (standard layout, never translated) */
DLGTEMPLATE IDD_ABOUT
BEGIN
 DIALOG "About Kniffel", 0, 32, 24, 240, 110, , FCF_TITLEBAR | FCF_DLGBORDER
 BEGIN
  CTEXT "Kniffel for OS/2",                     -1, 10, 90, 220, 8
  CTEXT "Version 1.10",                         -1, 10, 78, 220, 8
  CTEXT "OpenWatcom Release",                   -1, 10, 66, 220, 8
  CTEXT "(c) 1996-1999, Andreas Kieser",        -1, 10, 54, 220, 8
  CTEXT "(c) 2026, OS2World",                   -1, 10, 42, 220, 8
  CTEXT "GNU GPL V3",                           -1, 10, 30, 220, 8
  DEFPUSHBUTTON "Close", DID_OK,                   98, 10, 44, 14, WS_GROUP
 END
END

/* New game dialog: number of players, names and symbols */
DLGTEMPLATE IDD_START
BEGIN
 DIALOG "New Game", IDD_START, 50, 20, 210, 226, , FCF_TITLEBAR | FCF_SYSMENU
 BEGIN
  GROUPBOX "Number of players", ID_PLAYERS_GRP, 6, 186, 198, 34
  AUTORADIOBUTTON "1", ID_PLAYERS_1, 16, 194, 24, 10, WS_GROUP | WS_TABSTOP
  AUTORADIOBUTTON "2", ID_PLAYERS_2, 52, 194, 24, 10
  AUTORADIOBUTTON "3", ID_PLAYERS_3, 88, 194, 24, 10
  AUTORADIOBUTTON "4", ID_PLAYERS_4, 124, 194, 24, 10
  AUTORADIOBUTTON "5", ID_PLAYERS_5, 160, 194, 24, 10
  LTEXT "Name:", ID_COL_NAME, 24, 172, 100, 8
  LTEXT "Symbol:", ID_COL_SYMBOL, 134, 172, 66, 8
  LTEXT "1.", 580, 6, 162, 14, 8
  ENTRYFIELD "", 540, 24, 162, 100, 8, ES_MARGIN
  PUSHBUTTON "<", 560, 134, 158, 14, 14
  PUSHBUTTON ">", 570, 186, 158, 14, 14
  LTEXT "2.", 581, 6, 134, 14, 8
  ENTRYFIELD "", 541, 24, 134, 100, 8, ES_MARGIN
  PUSHBUTTON "<", 561, 134, 130, 14, 14
  PUSHBUTTON ">", 571, 186, 130, 14, 14
  LTEXT "3.", 582, 6, 106, 14, 8
  ENTRYFIELD "", 542, 24, 106, 100, 8, ES_MARGIN
  PUSHBUTTON "<", 562, 134, 102, 14, 14
  PUSHBUTTON ">", 572, 186, 102, 14, 14
  LTEXT "4.", 583, 6, 78, 14, 8
  ENTRYFIELD "", 543, 24, 78, 100, 8, ES_MARGIN
  PUSHBUTTON "<", 563, 134, 74, 14, 14
  PUSHBUTTON ">", 573, 186, 74, 14, 14
  LTEXT "5.", 584, 6, 50, 14, 8
  ENTRYFIELD "", 544, 24, 50, 100, 8, ES_MARGIN
  PUSHBUTTON "<", 564, 134, 46, 14, 14
  PUSHBUTTON ">", 574, 186, 46, 14, 14
  DEFPUSHBUTTON "~Play", DID_OK, 6, 6, 62, 14, WS_GROUP
  PUSHBUTTON "~High Scores", ID_HITBTN, 74, 6, 62, 14
  PUSHBUTTON "~Close", DID_CANCEL, 142, 6, 62, 14
 END
END

/* Result dialog */
DLGTEMPLATE IDD_RESULT
BEGIN
 DIALOG "Result", IDD_RESULT, 50, 40, 250, 142, , FCF_TITLEBAR
 BEGIN
  LTEXT "", ID_RES_TEXT, 8, 126, 234, 8
  LISTBOX ID_RES_LIST, 8, 30, 234, 92
  DEFPUSHBUTTON "Play ~again", DID_OK, 8, 8, 70, 14, WS_GROUP
  PUSHBUTTON "~Save result", ID_RES_SAVE, 90, 8, 70, 14
  PUSHBUTTON "~Back", DID_CANCEL, 172, 8, 70, 14
 END
END

/* High score list dialog */
DLGTEMPLATE IDD_HITLIST
BEGIN
 DIALOG "High Scores", IDD_HITLIST, 50, 30, 270, 170, , FCF_TITLEBAR | FCF_SYSMENU
 BEGIN
  LISTBOX ID_HIT_LIST, 8, 30, 254, 130
  LTEXT "", ID_HIT_EMPTY, 8, 90, 254, 8
  DEFPUSHBUTTON "~Close", DID_OK, 8, 8, 70, 14, WS_GROUP
  PUSHBUTTON "~Delete list", ID_HIT_DELETE, 192, 8, 70, 14
 END
END

/* Help tables */
HELPTABLE HID_MAIN
BEGIN
 HELPITEM WID_MAIN, HID_SUBTABLE, HID_GENERAL
END

HELPSUBTABLE HID_SUBTABLE
BEGIN
 HELPSUBITEM IDM_NEWGAME, HID_START
 HELPSUBITEM IDM_QUIT, HID_PLAYING
 HELPSUBITEM IDM_HITLIST, HID_RESULT
 HELPSUBITEM IDM_EXIT, HID_MENUS
 HELPSUBITEM IDM_PICTURES, HID_MENUS
 HELPSUBITEM IDM_FRAME, HID_MENUS
 HELPSUBITEM IDM_SAVEONEXIT, HID_MENUS
 HELPSUBITEM IDM_ABOUT, HID_ABOUT
 HELPSUBITEM IDM_GENERALHELP, HID_GENERAL
 HELPSUBITEM IDM_HELPINDEX, HID_GENERAL
 HELPSUBITEM IDM_HELPONHELP, HID_GENERAL
END
